@model Bileti.Domain.Models.Bilet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bilet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BiletName" class="control-label"></label>
                <input asp-for="BiletName" class="form-control" />
                <span asp-validation-for="BiletName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiletDescription" class="control-label"></label>
                <input asp-for="BiletDescription" class="form-control" />
                <span asp-validation-for="BiletDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiletPrice" class="control-label"></label>
                <input asp-for="BiletPrice" class="form-control" />
                <span asp-validation-for="BiletPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiletCount" class="control-label"></label>
                <input asp-for="BiletCount" class="form-control" />
                <span asp-validation-for="BiletCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiletDate" class="control-label"></label>
                <input asp-for="BiletDate" class="form-control" />
                <span asp-validation-for="BiletDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
